.btn-blue-color {
    background: linear-gradient(#EE82EE,#800080);
    border-radius: 10px;
    box-shadow: 1px 5px 25px 1px #DDA0DD;
    transition: all 0.2s ease-in-out;
    border: 0;
}

.btn-close-color:hover {
    background-color: #800080;
    transition: all 0.2s ease-in-out;
}

.btn-red-color {
    background: linear-gradient(#EE82EE,#800080);
    border-radius: 10px;
    box-shadow: 1px 5px 25px 1px #DDA0DD;
    transition: all 0.2s ease-in-out;
    border: 0;
}

.btn-blue-color:hover {
    background-color: darkgray
}

.btn-grey-color {
    background-color: grey;
    border-radius: 10px;
    box-shadow: 1px 5px 5px 1px lightgray;
    transition: all 0.2s ease-in-out;
}

.btn-grey-color:hover {
    background-color: darkgray
}

.models {
    border-radius: 10px;
}